@use '../utility';

$colors: (
  'ink': (
    'set': (
      hsl(0, 0, 10),
    ),
    'selectors': (
      'lighter': 1,
    ),
    'default': 1,
  ),
);

$opacities: ();


$font-families: (
  'set': (
    (sans-serif),
  ),
  'selectors': (
    'small': 1,
  ),
  'default': 1,
);

$font-sizes: (
  'set': (
    utility.px-to-rem(12),
    utility.px-to-rem(14),
    utility.px-to-rem(16),
    utility.px-to-rem(18),
    utility.px-to-rem(20),
  ),
  'selectors': (

  ),
  'default': 3,
);

$font-weights: (
  'set': (),
  'selectors': (),
  'default': 1,
);

$letter-spacings: ();

$line-heights: ();


$border-styles: ();

$border-widths: ();


$radii: ();

$spaces: (
  'set': (
    8px,
    12px,
    20px,
    40px,
  ),
  'selectors': (
    'small': 1,
  ),
  'default': 1,
);


$heights: ();

$widths: ();


$breakpoints: ();

$z-indices: ();


$images: ();


$times: ();

$timing-functions: ();
